<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1><%= link_to "PhotoTalk", photos_path %></h1>
    </div>
    <div class="nav navbar-nav navbar-right">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"><%= current_user.username %>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><a href="#">Messages</a></li>
          <li class="divider"></li>
          <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>      
    </div>    
  </div>
</nav>